
@font-face {
    font-family: 'ZeldaFont'; /* Use a name you choose */
    src: url('Triforce-y07d.ttf') format('woff2'),
         url('Triforce-y07d.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ZeldaFont', sans-serif; /* Apply the font */
}


body{
    background-color: rgb(29, 0, 54)
    background-image: url(backGroundPic.png);
    background-size: cover;
    
}

h1{
    font-family: 'ZeldaFont', sans-serif;
    text-align: center;
    color: white;
}

.navBar{
    margin: auto;
    width: 100%;
    height: 60px;
    background-color: rgb(59, 59, 59);
    border-radius: 16px;
    display: grid;
    gap: 50px;
}

a{
    margin: auto;
    text-align: center;
    padding: 10px;
    width: 140px;
    height: 20px;
    background-color: black;
    color: aqua;
    border-radius: 16px;
    box-shadow: 4px 5px 5px  rgb(63, 63, 63);
}
.homepage{
    grid-row: 1;
    grid-column: 1;
}
.moi{
    grid-row: 1;
    grid-column: 2;
}
.emt{
    grid-row: 1;
    grid-column: 3; 
}
.container{
    display: grid;
    margin-top: 250px;
    row-gap: 50px;
}
.youtube{
    grid-row: 1;
    grid-column: 1;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: rgb(240, 24, 0);
    background-image: url(futuristic\ YouTube\ logo.png);
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0px 0px 100px;
}
.youtubeButton{
    width: 100px;
    height: 50px;

    background-color: rgb(80, 0, 130);
    color: white;
    border-radius: 980px;
}

.github{
    grid-row: 1;
    grid-column: 3;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: rgb(36, 41, 46);
    background-image: url(futuristic\ GitHub\ logo.png);
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0px 0px 100px;
}
.githubButton{
    width: 100px;
    height: 50px;

    background-color: rgb(80, 0, 130);
    color: white;
    border-radius: 980px;
}
.chatgpt{
    grid-row: 1;
    grid-column: 2;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: rgb(135, 206, 250);
    background-image: url(futuristic\ ChatGPT\ logo.png);
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0px 0px 100px;
}
.chatgptButton{
    width: 100px;
    height: 50px;

    background-color: rgb(80, 0, 130);
    color: white;
    border-radius: 980px;
}

.discord{
    grid-row: 2;
    grid-column: 2;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: rgb(135, 206, 250);
    background-image: url(futuristic\ Discord\ logo.png);
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0px 0px 100px;
}
.discordButton{
    width: 100px;
    height: 50px;

    background-color: rgb(80, 0, 130);
    color: white;
    border-radius: 980px;
}

.copilot{
    grid-row: 2;
    grid-column: 1;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: rgb(135, 206, 250);
    background-image: url(futuristic\ logo\ for\ Copilot\ AI.png);
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0px 0px 100px;
}
.copilotButton{
    width: 100px;
    height: 50px;

    background-color: rgb(80, 0, 130);
    color: white;
    border-radius: 980px;
}

.itchio{
    grid-row: 2;
    grid-column: 3;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: rgb(135, 206, 250);
    background-image: url(futuristic\ gaming\ controller\ logo.png);
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0px 0px 100px;
}
.itchioButton{
    width: 100px;
    height: 50px;

    background-color: rgb(80, 0, 130);
    color: white;
    border-radius: 980px;
}

.cpstest{
    margin-top: 50px;
    display: flex;
    justify-content: center;

}

.cpsButton{
    width: 200px;
    height: 200px; 
    
    color: white;
    font-size: 75px;
    background-color: rgb(80, 0, 130);
    border-radius: 16px;
}
h2{
    color: white;
    margin-top: 300px;
    text-align: center;
}
.bestCPS{
    color: white;
    text-align: center;
}
